<div class="row">
  <div class="col">
    <!-- Afficher la liste des todos -->
    <ol class="list-group">
      <li *ngFor="let todo of todos" class="list-group-item">
        {{ todo.name }} : {{ todo.content }}
        <i
          (click)="deleteTodo(todo)"
          class="fa fa-trash fa-2x" aria-hidden="true"></i>
      </li>
    </ol>
  </div>
  <div class="col">
    <!-- Les inputs et le bouton pour ajouter les todos -->
    name :
    <input type="text" class="form-control m-2" [(ngModel)]="todo.name" />
    content :
    <input type="text" class="form-control m-2" [(ngModel)]="todo.content" />
    <button
      [disabled]="todo.name.trim().length == 0 || todo.content.trim().length == 0"
      (click)="addTodo()" class="btn btn-primary m-2">Add Todo</button>
  </div>
</div>
